[submodule "thirdparty/SQLiteCpp"]
	path = thirdparty/SQLiteCpp
	url = git@github.com:SRombauts/SQLiteCpp.git
[submodule "thirdparty/simde"]
	path = thirdparty/simde
	url = git@github.com:simd-everywhere/simde.git
[submodule "thirdparty/tomlplusplus"]
	path = thirdparty/tomlplusplus
	url = git@github.com:marzer/tomlplusplus.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = git@github.com:nlohmann/json.git
[submodule "thirdparty/OpenRAND"]
	path = thirdparty/OpenRAND
	url = git@github.com:msu-sparta/OpenRAND.git
