[submodule "thirdparty/SQLiteCpp"]
	path = thirdparty/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "thirdparty/Xoshiro-cpp"]
	path = thirdparty/Xoshiro-cpp
	url = https://github.com/Reputeless/Xoshiro-cpp.git
