[Unit]
Description=Simulates the two dimensional XY model
Wants=network-online.target
After=network-online.target
StartLimitInterval=200
StartLimitBurst=5

[Service]
Type=simple
User=lennart
Restart=on-failure
RestartSec=30
StandardError=/home/lennart/physik690-Bachelorarbeit
StandardOutput=/home/lennart/physik690-Bachelorarbeit/output.log
WorkingDirectory=/home/lennart/physik690-Bachelorarbeit/output.log
ExecStart=/bin/bash -c 'source /opt/intel/oneapi/setvars.sh && ./buildDir/xy_model'

[Install]
WantedBy=multi-user.target
